.header-principal .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-sobre-intro{
    display: flex;
    flex-direction: column;
    
}
.video-sobre .container-sobre-wow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-sobre-wow{
    display: flex;
}
.footer-principal .container-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-footer .listado {
    display: flex;
}
