:root{
    font-size: 67.5%;
}
@font-face {
    font-family: "wow";
    src: url('../Fonts/Warcraft-Yj2j.ttf')
}
@font-face {
    font-family: "montserrat";
    src: url(/resources/Fonts/Montserrat-Bold.ttf);
}
body{
    background-color: #263c41;
    font-family: "wow";
}
header{
    background-color:#332222;
    box-shadow: inset 0 0 50px black;
    border-bottom: solid 4px #263c41;
}
.container {
	width: 100vw;
	margin: 0 auto;
    padding-bottom: 15px;
}
.header-principal-logo{
    margin: 0 auto;
}
.logo-vanilla{
    max-width: 55vw;
}
.header-principal-nav-link{
    text-decoration: none;
    font-size: 2.6rem;
    letter-spacing: .3rem;
    padding: 10px 10px;
    transition: .2s;
    text-align: center;
    display: block;
    text-shadow: 2.5px 2.5px 3px black;
}
.mainVanilla{
    margin-bottom: -4px;
}
.mainVanilla-imagen-banner{
    width: 100vw;
}
.footer-principal{
    width: 100vw;
    background-color: #1b1212;
    border-top: solid 4px #263c41;
}
.footer-principal-logo{
    max-width: 80px;
    padding-top: 8px;
}
.footer-principal-lista{
}
.listado{
    padding: 8px 8px 35px 8px;
}
.lista-footer{
    text-decoration: none;
    padding: 0 5px;
    font-size: 1.5rem;
    font-family: "montserrat";
    

}

@media only screen and ()